.piano-guide__column {
    margin-bottom: 100px;
}
.piano-guide__header h1 {
    line-height: 60px;
    font-family: "Inter", sans-serif;
}
.piano-guide__column:nth-child(5) {
    margin-bottom: 0;
}
.piano-column__img {
    margin-right: 45px;
}
.piano-column__img img {
   display: inline-block;
   width: 100%;
   height: auto;
   object-fit: contain;
}
.piano-column__img + h3 {
    max-width: 270px;   
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    color: var(--text)
}
