
.faq-buttons, .faq--container {
    margin-bottom: 70px;
}

.faq-button {
    display: flex;
    justify-content: center;
}
.faq-button button {
    margin-top: 0;
    border-radius: 8px;
}
.active--accordion__btn {
    font-weight: 600;
    background-color: var(--brandColor) !important;
    color: var(--white) !important;
}
.accordion-menu__btn {
    border: 1px solid var(--brandColor);
    color: var(--oldBrandColor);
    font-weight: 600;
    background-color: var(--white);;
}
