.pool-header .storage-bg {
    background: linear-gradient(180deg, rgba(68, 126, 127, 0) 0%, rgba(68, 126, 127, 0.479167) 57.93%, rgba(68, 126, 127, 0.8) 100%),
    url("../../../assets/images/pool/bg.png");
        mix-blend-mode: multiply
}
.pool-header__btns {
    margin-top: 35px;
}
.pool-header__btns button {
    width: 259px;
    height: 51px;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
}
.pool-header__btns button:nth-child(1) {
    background: none;
    margin-right: 35px;
    color: var(--white);
}
/* .pool-header__btns button:nth-child(1):hover {
    color: var(--oldBrandColor);
    background: #fff;
} */
.pool-header__btns button:nth-child(2) {
    color: var(--oldBrandColor);
}
/* .pool-header__btns button:nth-child(2):hover {
    color: #fff;
    background: none;
} */