.google-map-close {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 280px;
  transform: translateY(80px);
  transition: 1s;
  background-color: white;
  z-index: 0;
}
.google-map-open {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 280px;
  transform: translateY(0px);
  transition: 1s;
  background-color: white;
  z-index: 0;
}
